
# Ignore Visual Studio folder and its contents
.vs/
.vs/SPACE_Framework/v17/

# Ignore bin and obj folders
bin/
obj/

# Ignore Debug build artifacts
bin/Debug/
obj/Debug/

# Ignore specific file types
*.dll
*.pdb
*.tmp
*.cache
*.cs
*.json
*.manifest
*.txt
*.testlog
*.backup.json
*.suo

# Ignore ref and refint folders
obj/Debug/net8.0/ref/
obj/Debug/net8.0/refint/
obj/Debug/net8.0/
bin/Debug/net8.0/allure-results/
